@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap");

.headerContainer {
  background-color: #18171fe5;
  font-weight: 600;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: content-box;
}

.headerWrapper {
  display: flex;
  position: relative;
  padding: 0px;
}

.headerLogo,
.offcanvasLogo {
  width: 165px;
  height: 26px;
}

.bookCallButton {
  border: 1px solid white !important;
  color: white !important;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
}

.bookCallButton:hover,
.bookCallButton:active,
.bookCallButton:focus-visible {
  background-color: transparent !important;
}

.contactUsButton {
  border: none;
  color: white !important;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
}

.contactUsButton:hover {
  background-color: #0d6efd !important;
}

.headerLink {
  color: blue !important;
}

.headerLink > .headerLinkSpan {
  color: white;
}

.headerContentRight {
  column-gap: 60px;
  display: flex;
  align-items: center;
}

.buttonGroup {
  display: flex;
  gap: 30px;
}

.toggleButton {
  padding: 0px;
  cursor: pointer;
  border: none !important;
}

.toggleIcon {
  width: 32px;
  height: 32px;
}

.iconContainer {
  position: absolute;
  right: 0px;
}

/* Style for Offcanvas background */
.custom-offcanvas {
  background-color: #343a40;
}

/* Style for Nav links in Offcanvas */
.custom-offcanvas .navLinks {
  color: #ffffff;
  border-radius: 6px;
  margin: 5px 0px;
}

/* Style for Nav links on hover */
.custom-offcanvas .navLinks:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Border-Bottom on Links: */
.headerLink {
  position: relative;
  padding-bottom: 5px;
}

.headerLink.active {
  border-bottom: 2px solid blue;
}

.customHeaderContainer {
  padding-left: 24px;
  padding-right: 24px;
}

/* removing default bootstrap styles: */
.headerContentLeft {
  padding: 0px;
  margin: 0px;
  /* color: none ; */
  /* font-size: 0px; */
}

/* custom offcanvas button class styling: */

.offcanvasHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcanvasBtn .darkBtn {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  margin-top: 7px;
}

@media (min-width: 1400px) {
  .bookCallButton {
    padding: 9px 26px;
  }
  .contactUsButton {
    padding: 9px 26.5px;
  }
  .headerContainer {
    padding: 23px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .headerContentRight {
    display: none;
  }
  .iconContainer {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .iconContainer {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .headerContainer {
    padding: 11px 0px;
  }
  .headerLogo,
  .offcanvasLogo {
    width: 96.76px;
    height: 15.41px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .headerContainer {
    padding: 11px 0px;
  }
  .headerLogo,
  .offcanvasLogo {
    width: 96.76px;
    height: 15.41px;
  }
}

@media (max-width: 575px) {
  .custom-offcanvas {
    width: 70% !important;
  }
  .offcanvasLogo {
    max-width: 120px;
    max-height: 100px;
  }

  .headerLogo,
  .offcanvasLogo {
    width: 96.76px;
    height: 15.41px;
  }
  .headerContainer {
    padding: 11px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .headerContainer {
    padding: 22px 0px;
  }
}
