@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.container {
  max-width: 1280px;
}

html,
body {
  background-color: #18171f;
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
}
