@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap");

.container {
  max-width: 1280px;
}

html,
body {
  background-color: #18171f;
  font-family: "Urbanist", serif;
}
