.bannerContainer {
  background-image: url("../../assets/images/BackgroundBanner.png");
  background-size: cover;
  background-position: center;
}

.bannerChildWrapper {
  display: flex;
}


.bannerContentRight {
  position: relative;
}

.bannerContentLeft > .bannerHeading {
  color: white;
}

.bannerContentLeftBottom {
  display: flex;
  flex-direction: column;
}

.bannerContentLeft .bannerHeading .bannerSpanText {
  background: linear-gradient(92.56deg, #3b66ff 0.29%, #3affe7 33.8%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bannerContentLeft > .bannerParagraph {
  color: white;
}

.listItem {
  color: white;
  margin: 0;
  padding-left: 26px;
  list-style: none;
  background-image: url("../../assets/images/listStyleType.png");
  background-repeat: no-repeat;
  background-size: 22px;
}

.bannerContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listImageIcon {
  width: 22px;
  height: 22px;
}

.consultationButton:active,
.consultationButton:hover {
  background-color: #0d6efd !important;
}

.bannerContentRight::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(155, 11, 85, 0.13);
  border-radius: 50%;
  filter: blur(40px);
}

.bannerImage {
  position: relative;
}

@media (min-width: 1400px) {
  .bannerImage {
    max-width: 585px;
    max-height: 513px;
  }
  .bannerContainer {
    margin-top: 92px;
  }
  .bannerChildWrapper {
    margin-top: 183px;
    margin-bottom: 91px;
  }
  .bannerContentLeft > .bannerHeading {
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .bannerContentLeft > .bannerParagraph {
    font-size: 18px;
    font-weight: 500;
  }
  .listItem {
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
  }
  .consultationButton {
    margin-top: 36px;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 29px;
  }
  .bannerParagraph {
    margin-bottom: 18px !important;
  }
  .bannerContentRight::before {
    max-height: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .bannerContentLeft > .bannerHeading {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .bannerContentLeft > .bannerParagraph {
    font-size: 17px;
    font-weight: 500;
  }
  .bannerImage {
    max-width: 450px;
    max-height: 400px;
  }
  .bannerContainer {
    margin-top: 92px;
  }
  .bannerChildWrapper {
    margin-top: 163px;
    margin-bottom: 71px;
  }
  .listItem {
    font-size: 17px;
    font-weight: 400;
    margin-top: 12px;
  }
  .bannerContentLeftBottom {
    gap: 36px;
  }
  .consultationButton {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
  }
  .bannerParagraph {
    margin-bottom: 18px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .bannerImage {
    max-width: 585px;
    max-height: 513px;
  }
  .bannerContainer {
    margin-top: 92px;
  }

  .bannerChildWrapper {
    margin-top: 173px;
    margin-bottom: 81px;
  }
  .bannerContentLeft > .bannerHeading {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .bannerContentLeft > .bannerParagraph {
    font-size: 18px;
    font-weight: 500;
  }
  .listItem {
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
  }
  .bannerContentLeftBottom {
    gap: 36px;
  }
  .consultationButton {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
  }
  .bannerParagraph {
    margin-bottom: 18px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .bannerContentLeft > .bannerHeading {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .bannerContainer {
    margin-top: 40px;
  }
  .consultationButton {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
  }
  .listItem {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
  .bannerChildWrapper {
    flex-direction: column-reverse;
  }

  .bannerContentRight {
    width: 100%;
  }
  .bannerContentLeft {
    width: 100%;
  }
  .customBannerContainer {
    padding: 0px 24px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .bannerImage {
    width: 100%;
    min-height: 300px;
    height: 100%;
  }
  .bannerContentLeft > .bannerParagraph {
    font-size: 16px;
    font-weight: 500;
  }
  .listItem {
    background-size: 25px;
    font-size: 16px;
    font-weight: 400;
  }
  .bannerContentLeft {
    margin-bottom: 41px;
  }
  .bannerChildWrapper {
    margin-top: 96px;
  }
  .bannerContentLeftBottom {
    gap: 35px;
  }
  .consultationButton {
    margin-top: 34px;
  }
  .bannerContentRight {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .bannerImage {
    max-width: 272px;
    max-height: 237px;
  }
  .bannerContentLeft > .bannerHeading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .bannerContentLeft > .bannerParagraph {
    font-size: 12px;
    font-weight: 500;
  }
  .listItem {
    font-size: 12px;
    background-size: 16px;
    font-weight: 400;
    margin-top: 16px !important;
    padding-left: 20px;
  }
  .bannerContainer {
    margin-top: 40px;
  }
  .bannerContentRight {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
  }
  .bannerContentLeft {
    margin-bottom: 48px;
  }
  .bannerContentLeftBottom {
    gap: 34px;
  }
  .consultationButton {
    margin-top: 34px;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 19px;
  }
  .bannerChildWrapper {
    margin-top: 96px;
  
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bannerContainer {
    margin-top: 52px;
  }
  .bannerContentLeft > .bannerHeading {
    margin-bottom: 12px;
  }
  .listItem {
    margin-top: 12px;
  }
}

@media (min-width: 992px) {
  .customBannerContainer {
    padding: 0px 24px;
  }
}
