@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap");

.bannerContainer {
  background-image: url("../../assets/images/BackgroundBanner.png");
  background-size: cover;
  background-position: center;
  /*** border: 1px solid blue; */
}

.bannerWrapper {
  display: flex;
}

.bannerContentLeft {
  width: 55%;
  /**** border: 1px solid green; */
}

.bannerContentRight {
  width: 45%;
  position: relative;
  /**** border: 1px solid green; */
}

.bannerContentLeft > h1 {
  color: white;
}

.bannerContentLeftBottom {
  display: flex;
  flex-direction: column;
}

.bannerContentLeft h1 span {
  background: linear-gradient(92.56deg, #3b66ff 0.29%, #3affe7 33.8%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bannerContentLeft > p {
  color: white;
}

.listItem {
  color: white;
  margin: 0;
  padding-left: 30px;
  list-style: none;
  background-image: url("../../assets/images/listStyleType.png");
  background-repeat: no-repeat;
  background-size: 22px;
}

.bannerContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listImageIcon {
  width: 22px;
  height: 22px;
}

.consultationButton:active,
.consultationButton:hover {
  background-color: #0d6efd !important;
}

.bannerContentRight::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 20px;
  background-color: rgba(155, 11, 85, 0.13);
  border-radius: 50%;
  filter: blur(40px);
}

.bannerImage {
  position: relative;
}

@media (min-width: 1400px) {
  .bannerImage {
    max-width: 585.38px;
    max-height: 513px !important;
    /* height: 100%; */
  }
  .bannerContainer {
    margin-top: 92px;
  }
  .bannerContentLeft {
    padding-top: 114px;
    padding-bottom: 115px;
  }
  .bannerContentRight {
    padding-top: 91px;
    padding-bottom: 91px;
  }
  .bannerContentLeft > h1 {
    font-size: 62px;
    font-weight: 700;
  }
  .bannerContentLeft > p {
    font-size: 18px;
    font-weight: 500;
  }
  .listItem {
    font-size: 18px;
    font-weight: 400;
  }
  .consultationButton {
    margin-top: 36px;
    font-size: 16px;
    font-weight: 600;
    /* font-family: "Urbanist", serif; */
    padding: 9px 29px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .bannerContentLeft > h1 {
    font-size: 45px;
    font-weight: 600;
  }
  .bannerContentLeft > p {
    font-size: 17px;
    font-weight: 500;
  }
  .bannerImage {
    width: 450px;
    min-height: 360px;
    height: 100%;
  }
  .bannerContainer {
    margin-top: 92px;
  }
  .bannerContentLeft {
    padding-top: 90px;
    padding-bottom: 91px;
  }
  .bannerContentRight {
    padding-top: 71px;
    padding-bottom: 71px;
  }
  .listItem {
    font-size: 17px;
    font-weight: 400;
  }
  .bannerContentLeftBottom {
    gap: 36px;
  }
  .consultationButton {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    /* font-family: "Urbanist", serif; */
    padding: 10px 24px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .bannerImage {
    min-height: 513px;
    height: 100%;
  }
  .bannerContainer {
    margin-top: 92px;
  }
  .bannerContentLeft {
    padding-top: 100px;
    padding-bottom: 101px;
  }
  .bannerContentRight {
    padding-top: 81px;
    padding-bottom: 81px;
  }
  .bannerContentLeft > h1 {
    font-size: 50px;
    font-weight: 600;
  }
  .bannerContentLeft > p {
    font-size: 18px;
    font-weight: 500;
  }
  .listItem {
    font-size: 18px;
    font-weight: 400;
  }
  .bannerContentLeftBottom {
    gap: 36px;
  }
  .consultationButton {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    /* font-family: "Urbanist", serif; */
    padding: 10px 24px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .bannerContentLeft > h1 {
    font-size: 30px;
  }
  .bannerContainer {
    margin-top: 40px;
  }
  .consultationButton {
    font-size: 16px;
    font-weight: 600;
    /* font-family: "Urbanist", serif; */
    padding: 10px 24px;
  }
}

@media (max-width: 991px) {
  .bannerWrapper {
    flex-direction: column-reverse;
  }

  .bannerContentRight {
    width: 100%;
  }
  .bannerContentLeft {
    width: 100%;
  }
  .customBannerContainer {
    padding: 0px 24px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .bannerImage {
    width: 100%;
    min-height: 300px;
    height: 100%;
  }
  .bannerContentLeft > p {
    font-size: 16px;
    font-weight: 500;
  }
  .listItem {
    background-size: 25px;
    font-size: 16px;
    font-weight: 400;
  }
  .bannerContentRight {
    padding-top: 50px;
    padding-bottom: 51px;
  }
  .bannerContentLeft {
    padding-top: 40px;
    padding-bottom: 41px;
  }
  .bannerContentLeftBottom {
    gap: 35px;
  }
  .consultationButton {
    margin-top: 35px;
  }
}

/* //image width need to expand without stretching on medium devices with same given width */
@media only screen and (max-width: 575px) {
  .bannerImage {
    max-width: 272px;
    max-height: 237.53px;
    /* object-fit: cover; */
  }
  .bannerContentLeft > h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .bannerContentLeft > p {
    font-size: 12px;
    font-weight: 500;
  }
  .listItem {
    font-size: 12px;
    background-size: 16px;
    font-weight: 400;
  }
  .bannerContainer {
    margin-top: 40px;
  }
  .bannerContentRight {
    margin-top: 42px;
  }
  .bannerContentLeft {
    margin-top: 24.48px;
    margin-bottom: 48px;
  }
  .bannerContentLeftBottom {
    gap: 34px;
  }
  .consultationButton {
    margin-top: 34px;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 19.5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bannerContainer {
    margin-top: 52px;
  }
}

@media (min-width: 992px) {
  .customBannerContainer {
    padding: 0px 24px;
  }
}
